@font-face {
  font-family: ProximaNova;
  src: url("ProximaNova-Reg.otf") format("opentype");
}

@font-face {
  font-family: ProximaNova;
  font-weight: bold;
  src: url("ProximaNova-Bold.otf") format("opentype");
}

body {
  background-color: #EEEEEE;
  color: #222222;
  font-family: 'ProximaNova';
  margin: 0;
  padding: 0;
}

div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h4, h5 {
  margin: 0;
}

#loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.button {
  background-color: #666;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
}

  .button:hover {
    background-color: #ddd;
  }

.button.pickFriends {
  background-color: #E96857;
}

  .button.pickFriends:hover {
    background-color: #FF5246;
  }

.button.startQuestions {
  background-color: #8cc026;
  display: none;
}

  .button.startQuestions:hover {
    background-color: #add137;
  }

.choice {
  background-color: #8CC026;
  border: 1px solid white;
  border-radius: 5px;
  color: #EEEEEE;
  margin: 20px 0;
  padding: 10px;
  position: relative;
}

  .choice:hover {
    background-color: #ADD137;
  }

.choiceImg {
  background-color: #EEEEEE;
  border: 1px solid #EEEEEE;
  height: 32px;
}

.choiceUsername {
  margin-left: 20px;
  position:absolute;
  top: 16px;
}

.dashboardContent {
  padding: 0 10px;
}

.dashboardHeader {
  background-color: #23B7FB;
  border-bottom: 1px dotted white;
  color: #EEEEEE;
  padding: 20px 10px 10px 10px;
  text-align: center;

  transition: height 0.5s;
  -webkit-transition: height 0.5s;
}

.dashboardIntro {
  margin-left: auto;
  margin-right: auto;
  max-width: 240px;
}

.facepile {
  margin-left: 10px;
}

.facepile-caption {
  background-color: #23B7FB;
  border-radius: 5px;
  color: #EEEEEE;
  padding: 5px;
  position: absolute;
}

.facepile-item {
  margin: 3px;
  width: 32px;
}

.friendsListUsername {
  font-size: 18px;
  margin-left: 20px;
  position: absolute;
  top: 18px;
}

.friendsListRow {
  margin: 20px 10px 0 10px;
  text-align: center;
}

.header {
  background-color: #23B7FB;
  margin: 0px;
  padding: 20px;
}

  .header p {
    color: #EEEEEE;
    margin-left: auto;
    margin-right: auto;
    max-width: 240px;
    text-align: center;
  }

.homeIcon {
  width: 64px;
}

.nextQuestion {
  background-color: #8cc026;
  border: 1px solid white;
  border-radius: 5px;
  color: #EEEEEE;
  margin: 20px 0;
  padding: 20px;
  text-align: center;
}

  .nextQuestion:hover {
    background-color: #add137;
  }

.profileContent {
  margin: 0 10px;
}

.profileFacepile {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.profileIcon {
  float: right;
  width: 48px;
}

.profileQuestion {
  margin: 20px 0;
}

.question {
  background-color: #23B7FB;
  border-bottom: 1px dotted white;
  color: #EEEEEE;
  padding: 20px;
}

.questionChoices {
  background-color: #EEEEEE;
  padding: 0 20px;
}

.restart {
  background-color: #f4f4f4;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  margin: 40px 0 20px 0;
  padding: 5px;
  text-align: center;
}

  .restart:hover {
    background-color: #ddd;
  }

.resultsContent {
  margin: 0 10px;
}

.resultsNotSelected {
  border-bottom: 1px solid white;
  margin: 20px 0 5px 0;
  padding: 0 0 5px 10px;
  position: relative;
}

  .resultsNotSelected .choiceUsername {
    top: 8px;
  }

.resultsSelected {
  border-bottom: 1px solid white;
  font-weight: bold;
  margin: 20px 0 5px 0;
  padding: 0 0 5px 10px;
  position: relative;
}

  .resultsSelected .choiceImg {
    height: 48px;
  }

  .resultsSelected .choiceUsername {
    font-size: 24px;
    top: 12px;
  }

.share {
  background-color: #23B7FB;
  border: 1px solid white;
  border-radius: 5px;
  color: #EEEEEE;
  margin: 20px 0;
  padding: 20px;
  text-align: center;
}

  .share:hover {
    background-color: #34C8FC;
  }

.stat {
  background-color: #755E98;
  border-bottom: 1px dotted white;
}
