<h1 class="header">Kik Prototype</h1>
<img src="img/me-icon.png" class="meIcon"/>

<div class="dashboardIntro">
  This is a prototype. Pick anywhere from 3 to 5 friends to get started. Don't worry, we won't be sending them any messages without you knowing.
</div>

<div class="dashboardContent">
  <div class="button pickFriends" id="pickFriends">Pick Your Friends</div>
  <div class="button startQuestions" id="startQuestions">Let's Start!</div>

  <div id="friends-list"></div>

  <div class="restart" id="reset" style="display:none">Reset</div>
</div>
